<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

<div class="container">

  <h2>If you're seeing this page, your app is working.</h2>

  <p>See the original repo and instructions on Github: <a href="https://github.com/mager/slack-genius">https://github.com/mager/slack-genius</a>.</p>

</div>

</body>
</html>
